@model StreamSurfer.Models.MovieViewModels.DetailShowViewModel
@{
    ViewData["Title"] = "Detail";

    string[] castList = Model.Movie.Cast.Split(';');
}

<div id="showDetail" class="background-image"></div>
<div>
    <div id="titleDiv">
        <h1>@Html.Encode(Model.Movie.Title).ToUpper()</h1>
    </div>

    <div id="contentDiv">
        <div id="wrapperDiv">
            <div id="pictureDiv">
                <img src="@Html.DisplayFor(model => model.Movie.Poster)" />
            </div>

            <div id="detailsDiv">
                @if (Model.IsLoggedIn)
                {
                    <div class="list-wrapper">
                        @if (Model.IsInList)
                        {
                            <button class="btn add-button" data-id="@Model.Movie.ID" data-type="movie" disabled>
                                <i class="glyphicon glyphicon-ok"></i>
                                <span class="add-button-text">Added to My List</span>
                            </button>
                        }
                        else
                        {
                            <button class="btn add-button" data-id="@Model.Movie.ID" data-type="movie">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span class="add-button-text">Add to My List</span>
                            </button>
                        }
                        <div style="@(Model.IsInList ? " " : "display: none;")" class="list-change-group">
                            <div class="form-group">
                                <span>Rating:</span>
                                <select id="list-rating"
                                        asp-for="MyListShow.Rating"
                                        asp-items="Html.GetEnumSelectList<ShowRating>()"></select>
                            </div>
                            <div class="form-group">
                                <span>Status:</span>
                                <select id="list-status"
                                        asp-for="MyListShow.Status"
                                        asp-items="Html.GetEnumSelectList<ShowStatus>()"></select>
                            </div>
                            <button id="list-save-changes" data-id="@Model.Movie.ID" data-type="movie" class="btn green-background drop-shadow">Save Changes</button>
                            <p class="list-save-notification"><i class="glyphicon glyphicon-ok"></i> Changes Saved!</p>
                        </div>
                    </div>
                }
                <div id="topDetails">
                    <div id="detailsBox">
                        <p>DETAILS</p>
                    </div>
                    <button style="display: none;">Add to My List</button>
                </div>
                <table>
                    <tr>
                        <td class="title">STARRING</td>
                        @{
                            string list = "";
                            for (var i = 0; i < castList.Length - 1; i++)
                            {
                                list += castList[i] + ", ";
                            }
                            list += castList[castList.Length - 1];
                            <td>@list</td>
                        }
                    </tr>
                    <tr>
                        <td class="title">GENRE</td>
                        @{
                            if (Model.Movie.MovieGenre.Count > 0)
                            {
                                list = "";
                                for (var i = 0; i < Model.Movie.MovieGenre.Count - 1; i++)
                                {
                                    list += Model.Movie.MovieGenre[i].Genre.Title + ", ";
                                }
                                list += Model.Movie.MovieGenre[Model.Movie.MovieGenre.Count - 1].Genre.Title;
                                <td>@list</td>
                            }
                            else
                            {
                                <td>No genres available.</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td class="title">RATING</td>
                        @{
                            if (Model.Movie.Rating == null)
                            {
                                <td>No rating available.</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(name => Model.Movie.Rating)</td>
                            }
                        }
                    </tr>
                </table>
            </div>

            <div id="descDiv">
                <h2>SYNOPSIS</h2>
                @{
                    if (Model.Movie.Desc == null)
                    {
                        <p>No synopsis available.</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => model.Movie.Desc)</p>
                    }
                }            
            </div>

            <div id="servicesDiv">
                <h2>AVAILABLE ON:</h2>
                @{
                    if (Model.Movie.MovieService.Count == 0)
                    {
                        <div class="col-xs-4">
                            <div class="serviceInfo">
                                <p>No services available.</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var ss in Model.Movie.MovieService)
                        {
                            <div class="col-xs-4">
                                <div class="serviceInfo">
                                    <a href="@Html.DisplayFor(link => ss.MovieLink)" target="_blank">@Html.DisplayFor(name => ss.Service.Name)</a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>