@model Show
@{
    ViewData["Title"] = "Detail";
}

<div id="titleDiv">
    <h2>@Html.Encode(Model.Title).ToUpper()</h2>
</div>

<div id="contentDiv">
    <div id="wrapperDiv">
        <div id="pictureDiv">
            <img src="@Html.DisplayFor(model => model.Picture)" />
        </div>
        <div id="detailsDiv">
            <ul>
                <li>@Html.DisplayFor(model => model.Started)</li>
                <li>@Html.DisplayFor(model => model.Rating)</li>
            </ul>
        </div>
        <div id="descDiv">
            <p>@Html.DisplayFor(model => model.Desc)</p>
        </div>
    </div>
</div>