@model Show
@{
    ViewData["Title"] = "Detail";

    string[] castList = Model.Cast.Split(';');
}

<div id="showDetail" class="background-image"></div>
<div>
    <div id="titleDiv">
        <h2>@Html.Encode(Model.Title).ToUpper()</h2>
    </div>

    <div id="contentDiv">
        <div id="wrapperDiv">
            <div id="pictureDiv">
                <img src="@Html.DisplayFor(model => model.Picture)" />
            </div>
            <div id="detailsDiv">
                <div id="topDetails">
                    <ul>
                        <li>@Html.DisplayFor(model => model.Started)</li>
                        <li>@Html.DisplayFor(model => model.Rating)</li>
                    </ul>
                </div>                
                
                <div id="castDiv">
                    <ul>
                        <li><b>Cast: </b></li>
                        @{ 
                            foreach (var cast in castList)
                            {
                                <li>@cast, </li>

                            }
                        }
                    </ul>
                </div>

                <div id="genreDiv">
                    <ul>
                        <li><b>Genre: </b></li>
                        @{
                            foreach (var genre in Model.ShowGenre.Select(g => g.Genre))
                            {
                                <li>@Html.DisplayFor(name => genre.Title), </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div id="descDiv">
                <p>@Html.DisplayFor(model => model.Desc)</p>
            </div>
            <div id="servicesDiv">
                <h2>AVAILABLE ON:</h2>
                @{
                    foreach (var ss in Model.ShowService)
                    {
                        <div class="col-xs-4">
                            <div class="serviceInfo">
                                <a href="@Html.DisplayFor(link => ss.EpisodeLink)">@Html.DisplayFor(name => ss.Service.Name)</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>