@model StreamSurfer.Models.ShowViewModels.DetailShowViewModel
@{
    ViewData["Title"] = "Detail";
    
    string[] castList = Model.Show.Cast.Split(';');
    string title = Model.Show.Title.ToUpper();
}

<div id="showDetail" class="background-image"></div>
<div id="showPageDiv">
    <div id="showTitleDiv">
        <h1 id="showTitleText" class="green-tip">@title</h1>
    </div>

    <div id="showContentDiv">
        <div id="showWrapperDiv">
            <div id="showPictureDiv">
                <img src="@Html.DisplayFor(model => model.Show.Poster)" />

                @if (Model.IsLoggedIn)
                {
                    <div id="mobileListWrapper" class="list-wrapper">
                        @if (Model.IsInList)
                        {
                            <button class="btn add-button" data-id="@Model.Show.ID" data-type="show" disabled>
                                <i class="glyphicon glyphicon-ok"></i>
                                <span class="add-button-text">Added to My List</span>
                            </button>
                        }
                        else
                        {
                            <button class="btn add-button" data-id="@Model.Show.ID" data-type="show">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span class="add-button-text">Add to My List</span>
                            </button>
                        }
                        <div style="@(Model.IsInList ? " " : "display: none;")" class="list-change-group">
                            <div class="form-group">
                                <span>Rating:</span>
                                <select class="list-rating"
                                        asp-for="MyListShow.Rating"
                                        asp-items="Html.GetEnumSelectList<ShowRating>()"></select>
                            </div>
                            <div class="form-group">
                                <span>Status:</span>
                                <select class="list-status"
                                        asp-for="MyListShow.Status"
                                        asp-items="Html.GetEnumSelectList<ShowStatus>()"></select>
                            </div>
                            <button data-id="@Model.Show.ID" data-type="show" class="btn green-background drop-shadow list-save-changes-button">Save Changes</button>
                            <p class="list-save-notification"><i class="glyphicon glyphicon-ok"></i> Changes Saved!</p>
                        </div>
                    </div>
                }
            </div>
            
            <div id="showDetailsDiv">
                @if (Model.IsLoggedIn)
                {
                    <div id="desktopListWrapper" class="list-wrapper">
                        @if (Model.IsInList)
                        {
                            <button class="btn add-button" data-id="@Model.Show.ID" data-type="show" disabled>
                                <i class="glyphicon glyphicon-ok"></i>
                                <span class="add-button-text">Added to My List</span>
                            </button>
                        }
                        else
                        {
                            <button class="btn add-button" data-id="@Model.Show.ID" data-type="show">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span class="add-button-text">Add to My List</span>
                            </button>
                        }
                        <div style="@(Model.IsInList ? " " : "display: none;")" class="list-change-group">
                            <div class="form-group">
                                <span>Rating:</span>
                                <select class="list-rating"
                                        asp-for="MyListShow.Rating"
                                        asp-items="Html.GetEnumSelectList<ShowRating>()"></select>
                            </div>
                            <div class="form-group">
                                <span>Status:</span>
                                <select class="list-status"
                                        asp-for="MyListShow.Status"
                                        asp-items="Html.GetEnumSelectList<ShowStatus>()"></select>
                            </div>
                            <button data-id="@Model.Show.ID" data-type="show" class="btn green-background drop-shadow list-save-changes-button">Save Changes</button>
                            <p class="list-save-notification"><i class="glyphicon glyphicon-ok"></i> Changes Saved!</p>
                        </div>
                    </div>
                }
                <div id="showTopDetails">
                    <div id="showDetailsBox">
                        <p>DETAILS</p>
                    </div>
                </div> 
                <table id="showTable">
                    <tr>
                        <td class="showTableTitle">STARRING</td>
                        @{
                            string list = "";
                            for (var i = 0; i < castList.Length - 1; i++)
                            {
                                list += castList[i] + ", ";
                            }
                            list += castList[castList.Length - 1];
                            <td>@list</td>
                        }
                    </tr>
                    <tr>
                        <td class="showTableTitle">GENRE</td>
                        @{
                            if (Model.Show.ShowGenre.Count > 0)
                            {
                                list = "";
                                for (var i = 0; i < Model.Show.ShowGenre.Count - 1; i++)
                                {
                                    list += Model.Show.ShowGenre[i].Genre.Title + ", ";
                                }
                                list += Model.Show.ShowGenre[Model.Show.ShowGenre.Count - 1].Genre.Title;
                                <td>@list</td>
                            }
                            else
                            {
                                <td>No genres available.</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td class="showTableTitle">RATING</td>
                        @{ 
                            if (Model.Show.Rating == null)
                            {
                                <td>No rating available.</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(name => Model.Show.Rating)</td>
                            }
                        }
                    </tr>
                </table>
            </div>

            <div id="showDescDiv">
                <h2>SYNOPSIS</h2>
                @{
                    if (Model.Show.Desc == "")
                    {
                        <p>No synopsis available.</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => model.Show.Desc)</p>
                    }
                }
            </div>

            <div id="showServicesDiv">
                <h2>AVAILABLE ON:</h2>
                @{
                    if (Model.Show.ShowService.Count == 0)
                    {
                        <div class="col-xs-4">
                            <div class="showServiceInfo">
                                <p>No services available.</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var ss in Model.Show.ShowService)
                        {
                            if (ss.EpisodeLink != "")
                            {
                                <div class="col-xs-4">
                                    <div class="showServiceInfo">
                                        <a href="@Html.DisplayFor(link => ss.EpisodeLink)" target="_blank">@Html.DisplayFor(name => ss.Service.Name)</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-4">
                                    <div class="showServiceInfo">
                                        <p>@Html.DisplayFor(name => ss.Service.Name)</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>