@model Show
@{
    ViewData["Title"] = "Detail";

    string[] castList = Model.Cast.Split(';');
    string title = Model.Title.ToUpper();
}

<div id="showDetail" class="background-image"></div>
<div id="pageDiv">
    <div id="titleDiv">
        <h1 class="green-tip">@title</h1>
    </div>

    <div id="contentDiv">
        <div id="wrapperDiv">
            <div id="pictureDiv">
                <img src="@Html.DisplayFor(model => model.Poster)" />
            </div>
            
            <div id="detailsDiv">
                <div id="topDetails">
                    <div id="detailsBox">
                        <p>DETAILS</p>
                    </div>
                    <button style="display: none;">Add to My List</button>
                </div> 
                <table>
                    <tr>
                        <td class="title">STARRING</td>
                        @{
                            string list = "";
                            for (var i = 0; i < castList.Length - 1; i++)
                            {
                                list += castList[i] + ", ";
                            }
                            list += castList[castList.Length - 1];
                            <td>@list</td>
                        }
                    </tr>
                    <tr>
                        <td class="title">GENRE</td>
                        @{
                            if (Model.ShowGenre.Count > 0)
                            {
                                list = "";
                                for (var i = 0; i < Model.ShowGenre.Count - 1; i++)
                                {
                                    list += Model.ShowGenre[i].Genre.Title + ", ";
                                }
                                list += Model.ShowGenre[Model.ShowGenre.Count - 1].Genre.Title;
                                <td>@list</td>
                            }
                            else
                            {
                                <td>No genres available.</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td class="title">RATING</td>
                        @{ 
                            if (Model.Rating == null)
                            {
                                <td>No rating available.</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(name => Model.Rating)</td>
                            }
                        }
                    </tr>
                </table>
            </div>

            <div id="descDiv">
                <h2>SYNOPSIS</h2>
                @{
                    if (Model.Desc == null)
                    {
                        <p>No synopsis available.</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => model.Desc)</p>
                    }
                }
            </div>

            <div id="servicesDiv">
                <h2>AVAILABLE ON:</h2>
                @{
                    if (Model.ShowService.Count == 0)
                    {
                        <div class="col-xs-4">
                            <div class="serviceInfo">
                                <p>No services available.</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var ss in Model.ShowService)
                        {
                            if (ss.EpisodeLink != "")
                            {
                                <div class="col-xs-4">
                                    <div class="serviceInfo">
                                        <a href="@Html.DisplayFor(link => ss.EpisodeLink)" target="_blank">@Html.DisplayFor(name => ss.Service.Name)</a>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>