@model IEnumerable<StreamSurfer.Models.Show>
<div class="search-results">
    <div class="container">
        <h2 class="text-center results-header green-tip">Search results:</h2>
        <ul class="results">
            @foreach (var s in Model)
            {
                <li class="results-item">
                    <img src="@s.Picture" alt="Image for @s.Title" class="results-image" />
                    <a class="results-link" asp-controller="Show" asp-action="Detail" asp-route-id="@s.ID"><h3>@s.Title</h3></a>
                    <p>Show</p>
                    <p class="results-description">@Html.DisplayFor(m => s.Desc)</p>
                </li>
            }
        </ul>
    </div>
</div>